<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<head>

<title>NikTheNomad Travel Gear</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

      	<meta name="viewport" content="width=device-width, initial-scale=1">
        <%= csrf_meta_tags %>

    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
    
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">

      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
              <span class="sr-only">Menu</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../">NikTheNomad Travel Gear</a>
          </div>
         

          <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to 'Products', products_path %></li>
                <!-- li><a href="#">Log in</a></li> -->
                <li><%= link_to 'Orders', orders_path %></li>
                <li><%= link_to 'About', static_pages_about_path %></li>
                <li><%= link_to 'Contact', static_pages_contact_path %></li>
            </ul>
          </div>
        </div>
      </nav>

</body> 
                 

</html>
      		
     
<%= yield %>

<!--     <hr> -->
     
<footer class="site-footer">
  <b> 2015 © NiktheNomad Gear </b>
</footer>

